*{
margin: 0px;
padding: 5px;
box-sizing: border-box;
}

.header{
    background-color: lightblue;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    display: inline;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.title{
    color: blue;
    font-size: x-large;
   
}

.slidecontainer{
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
  
}

.slides{
    display: flex;
    
}

.frame{
    width: 600px;
    height: 500px;
    overflow: hidden;
    border: 1px solid red;
}
.top{
    display: flex;
}

.limg, .rimg{
    width: 150px;
    height: 150px;
}

.images{
    
    object-fit: cover;
}