*{
margin: 0px;
padding: 5px;
box-sizing: border-box;
}

.header{
    background-color: lightblue;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    display: inline;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.title{
    color: blue;
    font-size: x-large;
   
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    height: 50dvh;
    width: 70dvw;
    border: 1px solid black;
    display: flex;
}
.limg ,.rimg {
height: 100px;
width: 100px;


}


.frame{
    width: 100%;
    display: flex;
     overflow: hidden;
    border: 1px solid red;
    
}

.image{
    width: 100%;
    object-fit: cover;
   
  
}