*{
margin: 0px;
padding: 5px;
box-sizing: border-box;
}

.header{
    background-color: lightblue;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
